.gradle/
build/
.idea/shelf/
.idea/workspace.xml
out/
run/
/test.*
/test/
prev/
*.dll
/temp/
/temp.*
/natives/

/module-macro/src/main/resources/output.txt
/module-vkgen/src/main/resources/
/module-rol/src/main/resources/
/module-encoding/src/main/resources/ins.txt
